@font-face {
	font-family: ArvinRegular;
	src: url(Font/ArvinRegular.ttf);
}
body{
	background: #000000 fixed;
	font-family: ArvinRegular;
	text-align: center;
}
body::-webkit-scrollbar { width: 10px; }
body::-webkit-scrollbar-track { background-color: rgba(55,55,55,1); }
body::-webkit-scrollbar-thumb {
	background-color: rgba(255,255,255,0.25);
	outline: 1px solid #5a5a5a;
}
a			{ color: #5a5aff; }
a:visited	{ color: #5a5aff; }
hr{	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.bg{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	overflow-x: hidden;
}
.corpo{
	margin: auto;
	width: 800px;
	background: #383838;
	height: auto;
	margin-bottom: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Boss{
	width: 18.3%;
	height: 78px;
	display: inline-block;
	margin: 10px 5px 0px 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Boss:hover { box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.5); }
.centro{
	background-color:#c6c6c6;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.texto{
	text-align: left;
	margin-left: 10px;
	margin-right: 10px;	
}
.titulo{
	width: 100%;
	margin: auto;
	background: #ffffff;
}
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #DADADF;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
}
@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}
.sidenav img{
	transform: translate3d(-230px, 0px, 0px);
	transition: transform .2s ease-in-out;
}
.sidenav img:hover{ transform: translate3d(0px, 0px, 0px); }
.sidenav .imgSelected img{
	filter: grayscale(100%);
	transform: translate3d(0px, 0px, 0px);
}
.sidenav .Portrait img{
	width: 70px;
	height: 70px;
	float: left;
	margin: 10px;
	border-radius: 50%;
	transform: translate3d(0px, 0px, 0px);
}
.sidenav .texto{
	width: 130px;
	height: 70px;
	float: right;
	margin: 10px 10px 10px 0;
	font-size: 14px;
}
.menuicon {
	cursor: pointer;
	position: fixed;
}
.bar1, .bar2, .bar3 {
	width: 35px;
	height: 5px;
	background-color: #DADADF;
	margin: 6px 0;
	transition: 0.4s;
}
.change .bar1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
	transform: rotate(-45deg) translate(-9px, 6px) ;
}
.change .bar2 {
	opacity: 0;
}
.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px) ;
	transform: rotate(45deg) translate(-8px, -8px) ;
}
#drag-1, #drag-2 {
	width: 25%;
	height: 100%;
	min-height: 6.5em;
	margin: 10%;
	color: white;
	border-radius: 0.75em;
	padding: 4%;
	-webkit-transform: translate(0px, 0px);
			transform: translate(0px, 0px);
}
#drag-me::before {
	content: "#" attr(id);
	font-weight: bold;
}
.Dragbg{
	background: url("Images/DragBG.png");
}
.scrollToTop{
	width:100px; 
	height:100px;
	padding:10px; 
	text-align:center; 
	background: whiteSmoke;
	font-weight: bold;
	color: #444;
	text-decoration: none;
	position:fixed;
	top:75px;
	right:40px;
	display:none;
	background: url("Images/Top.png") no-repeat;
	z-index: 3;
}
.scrollToTop:hover{
	text-decoration:none;
}